# Properties with secrets
prod.properties
dev.properties
local.properties

# Gradle
.gradle/
build/
*.iml

# IDE
.idea/
*.iws
*.ipr

# macOS
.DS_Store

# Xcode
xcuserdata/
*.pbxuser
*.mode1v3
*.xcworkspace/contents.xcworkspacestate
DerivedData/
*.xcuserstate
*.xcscheme

# Swift Package Manager
.build/

# Kotlin Native
*.dSYM/

# Android
*.apk
*.ap_
*.aab

# Keystore files
*.jks
*.keystore
